<div>
    <h2 id="page-heading">
        <span>Ubicacions</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-ubicacion" [routerLink]="['/ubicacion/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Ubicacion
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ubicacions?.length === 0">
        <span>No ubicacions found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ubicacions && ubicacions.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Departamento</span></th>
                    <th scope="col" ><span>Calle</span></th>
                    <th scope="col" ><span>Numero</span></th>
                    <th scope="col" ><span>Descripcion</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ubicacion of ubicacions ;trackBy: trackId">
                    <td><a [routerLink]="['/ubicacion', ubicacion.id, 'view']">{{ ubicacion.id }}</a></td>
                    <td>{{ ubicacion.departamento }}</td>
                    <td>{{ ubicacion.calle }}</td>
                    <td>{{ ubicacion.numero }}</td>
                    <td>{{ ubicacion.descripcion }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/ubicacion', ubicacion.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/ubicacion', ubicacion.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(ubicacion)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
