<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ubicacion-heading">Create or edit a Ubicacion</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_departamento">Departamento</label>
                    <select class="form-control" name="departamento" formControlName="departamento" id="field_departamento">
                        <option value="MENDOZA">MENDOZA</option>
                        <option value="GUAYMALLEN">GUAYMALLEN</option>
                        <option value="LAS">LAS</option>
                        <option value="HERAS">HERAS</option>
                        <option value="LAVALLE">LAVALLE</option>
                        <option value="JUNIN">JUNIN</option>
                        <option value="LA">LA</option>
                        <option value="PAZ">PAZ</option>
                        <option value="MAIPU">MAIPU</option>
                        <option value="RIVADAVIA">RIVADAVIA</option>
                        <option value="SANTA">SANTA</option>
                        <option value="ROSA">ROSA</option>
                        <option value="SAN">SAN</option>
                        <option value="MARTIN">MARTIN</option>
                        <option value="GODOY">GODOY</option>
                        <option value="CRUZ">CRUZ</option>
                        <option value="LUJAN">LUJAN</option>
                        <option value="DE">DE</option>
                        <option value="CUYO">CUYO</option>
                        <option value="CARLOS">CARLOS</option>
                        <option value="TUNUYAN">TUNUYAN</option>
                        <option value="TUPUNGATO">TUPUNGATO</option>
                        <option value="GENERAL">GENERAL</option>
                        <option value="ALVEAR">ALVEAR</option>
                        <option value="MALARGUE">MALARGUE</option>
                        <option value="RAFAEL">RAFAEL</option>
                    </select>
                    <div *ngIf="editForm.get('departamento')!.invalid && (editForm.get('departamento')!.dirty || editForm.get('departamento')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('departamento')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_calle">Calle</label>
                    <input type="text" class="form-control" name="calle" id="field_calle"
                           formControlName="calle"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_numero">Numero</label>
                    <input type="number" class="form-control" name="numero" id="field_numero"
                           formControlName="numero"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_descripcion">Descripcion</label>
                    <input type="text" class="form-control" name="descripcion" id="field_descripcion"
                           formControlName="descripcion"/>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
