<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-cosecha-heading">Create or edit a Cosecha</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_producto">Producto</label>
                    <input type="text" class="form-control" name="producto" id="field_producto"
                           formControlName="producto"/>
                    <div *ngIf="editForm.get('producto')!.invalid && (editForm.get('producto')!.dirty || editForm.get('producto')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('producto')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_peso">Peso</label>
                    <input type="number" class="form-control" name="peso" id="field_peso"
                           formControlName="peso"/>
                    <div *ngIf="editForm.get('peso')!.invalid && (editForm.get('peso')!.dirty || editForm.get('peso')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('peso')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('peso')?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_finca">Finca</label>
                    <select class="form-control" id="field_finca" name="finca" formControlName="finca">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="fincaOption.id === editForm.get('finca')!.value?.id ? editForm.get('finca')!.value : fincaOption" *ngFor="let fincaOption of fincas; trackBy: trackById">{{ fincaOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
