<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="finca">
            <h2><span>Finca</span> {{ finca.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{ finca.nombre }}</span>
                </dd>
                <dt><span>User Login</span></dt>
                <dd>
                    <span>{{ finca.userLogin }}</span>
                </dd>
                <dt><span>Ubicacion</span></dt>
                <dd>
                    <div *ngIf="finca.ubicacion">
                        <a [routerLink]="['/ubicacion', finca.ubicacion?.id, 'view']">{{ finca.ubicacion?.id }}</a>
                    </div>
                </dd>
                <dt><span>Encargado</span></dt>
                <dd>
                    <div *ngIf="finca.encargado">
                        <a [routerLink]="['/encargado', finca.encargado?.id, 'view']">{{ finca.encargado?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/finca', finca.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
