<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-finca-heading">Create or edit a Finca</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nombre">Nombre</label>
                    <input type="text" class="form-control" name="nombre" id="field_nombre"
                           formControlName="nombre"/>
                    <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nombre')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_userLogin">User Login</label>
                    <input type="text" class="form-control" name="userLogin" id="field_userLogin"
                           formControlName="userLogin"/>
                    <div *ngIf="editForm.get('userLogin')!.invalid && (editForm.get('userLogin')!.dirty || editForm.get('userLogin')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('userLogin')?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_ubicacion">Ubicacion</label>
                    <select class="form-control" id="field_ubicacion" name="ubicacion" formControlName="ubicacion">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ubicacionOption.id === editForm.get('ubicacion')!.value?.id ? editForm.get('ubicacion')!.value : ubicacionOption" *ngFor="let ubicacionOption of ubicacions; trackBy: trackById">{{ ubicacionOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_encargado">Encargado</label>
                    <select class="form-control" id="field_encargado" name="encargado" formControlName="encargado">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="encargadoOption.id === editForm.get('encargado')!.value?.id ? editForm.get('encargado')!.value : encargadoOption" *ngFor="let encargadoOption of encargados; trackBy: trackById">{{ encargadoOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
